{% extends "base.html" %}
{% block content %}
  <h2>Duplicate Products</h2>
  {% for product in products %}
    <div class="product box">
      <div class="wrapper">
        {% if products.images %}
          <img src=="{{ product.images.first.small }}" />
        {% endif %}

        <h4>{{ product.title }}</a></h4>
        {% for option in product.options %}
          
          {% if option.name != "Title" %}
            <p class="options">{{ option.name}}</p>
              {% for value in option.values %}
                <p style="margin-bottom: 0"><span class="note">{{ value }}</span></p>
                
              {% endfor %}

          {% endif %}
        {% endfor %}
        <div style="clear:left"></div>
      </div>
    </div>

  {% endfor %}
{% endblock %}
